ipython
nbformat
anyio
docling
fastapi 
uvicorn 
pydantic

# LangChain Core
langchain
langsmith
langchain-core
langchain-classic
gradio
plotly
nltk

# Anthropic Integration
langchain-anthropic
langchain-groq
langchain-tavily
langchain-chroma
langchain-mcp-adapters
mcp

# Google Gemini (PaLM) Integration
langchain-google-vertexai
langchain-google-genai
google-generativeai
langchain-groq
langchain-ollama

# Hugging Face Integration
langchain-huggingface
sentence-transformers
rank_bm25
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# RAG Evaluation
ragas
datasets

# Machine Learning Utilities
numpy
pandas
matplotlib
requests
seaborn
scikit-learn
keras
tensorflow
textblob
nltk
spacy
emoji
dotenv
tiktoken
pinecone
pinecone-text
pypdf
python-dotenv
torch
torchvision
torchaudio
langchain-pinecone
streamlit
langchain-text-splitters
pymupdf
pdfminer
pydantic
arxiv
wikipedia
